body{
    color: white; 
    /* background:linear-gradient(to right, #25296b, #010001); */

     background-image:url(blue-mountain-landscape-during-nighttime-lejp0wvsxdzhm78t.jpg);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 100% 100%;

}
*{
     box-sizing: border-box;
          font-family: 'Times New Roman', Times, serif;
          margin: 0;
          padding: 0;
}

H1{
    text-align: center;
            color: white;
        text-shadow:0px 0px 10px rgb(87, 93, 93),
                    0px 0px 10px rgb(112, 124, 124),
                    0px 0px 10px rgb(76, 79, 79),
                    0px 0px 10px rgb(142, 157, 157);
                    
    font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;

}

ul{   width: 100%;
    height: 10%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

}

UL{
    list-style: none;
    text-decoration: none;
}
a{  color: white;
    text-transform: capitalize;
    text-decoration: none;
    width: max-content;
    letter-spacing: 0.15em;
    font-size: 24px ;
    position:relative ;

    display: inline-block;
    padding: 15px 20px;


}
a::after{
    display: block;
    content:"" ;
    position: absolute;
    bottom:0 ;
    height: 4px;
    width: 100;
    left: 0;
    background-color: rgb(16, 128, 213);
    transition: width 0.3s ease ,left  0.3s ease 0s;
    /* transition-timing-function: ease-in-out; */
 
}

a:hover::after{
     width: 100%;
     left: 0;
}

.navs{
        color: white;
        text-shadow:0px 0px 10px rgb(87, 93, 93),
                    0px 0px 10px rgb(112, 124, 124),
                    0px 0px 10px rgb(76, 79, 79),
                    0px 0px 10px rgb(142, 157, 157);

}

.btn{
    padding: 15px 40px;
    font-size: 24px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: -1;
    border-radius: 12px;
}
.cards{
    background: transparent;
        box-shadow: 0px 0px 50px 0 #4176f0;
    border-radius: 50%;
}


section{
    width: 90%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10px;
    justify-items: center; 
    align-items: center;


}
.homelogo{
    box-shadow: 0px 0px 50px 0 #4176f0;
    border-radius: 50%;
}
.grid-item-5{
    grid-row: 1/2;
    grid-column:3/4;
}

.grid-item-3{
    grid-row: 1/2;
    grid-column: 2/3;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    margin-top: 10px;
    text-align: center;
           text-shadow:0px 0px 10px rgb(174, 211, 211),
                    0px 0px 10px rgb(152, 204, 204),
                    0px 0px 10px rgb(77, 92, 92),
                    0px 0px 10px rgb(110, 179, 179);
         color: #4ecdc4;
     font-family: "Tulpen One", sans-serif;
  font-weight: 400;
  font-style: normal;

}
.features{
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
       /* box-shadow: 0px 0px 50px 0 #4176f0; */
     border-radius: 10px;
     margin-top: 20px;

}
.grid-item-2 , .grid-item-4, .grid-item-6{
    width: 400px;

}
.feature-1{
    font-size: 24px;
    list-style: circle;


}

p{
    margin-top: 10px;
     font-family: "Amarante", serif;
  font-weight: 400;
  font-style: normal;
     background: transparent;
    backdrop-filter: blur(10px);
}

